apiVersion: v1
kind: Secret
metadata:
  name: "{{ _internal_stackrox_token_secret_name }}"
  namespace: "{{ _internal_stackrox_token_namespace }}"
type: Opaque
data:
  {{ _internal_stackrox_token_variable }}: "{{ _internal_central_stackrox_token | string | b64encode }}"